.widget
{
    background: linear-gradient(to top right,rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    min-height: 13rem;
    min-width: 20rem;
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: -6px 6px 20px rgba(255, 255, 255,0.5), 6px -6px 20px rgba(0, 0, 0,0.5);
    flex: 1;
}


.widget:hover
{
    background: linear-gradient(to bottom left,rgba(255,255,255,0.5), rgba(255,255,255,0.1));
    box-shadow: 6px -6px 20px rgba(255, 255, 255,0.5), -6px 6px 20px rgba(0, 0, 0,0.5);

}

.text
{
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(to bottom left,rgb(24, 109, 237),rgb(141, 31, 250));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input
{
    border : none;
    border-radius: 1rem;
}

.film-title
{
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(to bottom left,rgb(24, 109, 237),rgb(141, 31, 250));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}